---
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro';
import "../styles/global.css";
const  pageTitle = "Home Page";
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={"Astro.generator"} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation/>
		<h1>HI</h1>
		<Footer />
		<script>
			  import "../scripts/menu.js";
		</script>
	  </body>
	</body>
</html>
