---
import Headerlink from "./Headerlink.astro";
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
        <Headerlink to="/" title="Home" />
        <Headerlink to="/about" title="About" />
        <Headerlink to="/blog" title="Blog" />
        <Headerlink to="/tags" title="Tags" />
        <ThemeIcon />
    </nav>
</header>
