---
import Headerlink from "./Headerlink.astro";
---

<header>
    <nav>
        <Headerlink to="/" title="Home" />
        <Headerlink to="/about" title="About" />
        <Headerlink to="/blog" title="Blog" />
    </nav>
</header>
